---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Test+SMS+from+RSpec&From=440000000000&To=%2B447799323232
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMwODYzMzE2OWEwYzVlNjg5YzI2ZTUyMzY3MDcwNmJiNDpmNzFhODU0MWM3MDY0ZmE0N2I3OTM3NTA3NjNlNzFiMg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.080'
      Twilio-Request-Id:
      - RQ6b39d46954ef437d9633066f14f941dc
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 440000000000 is not
        a valid phone number, shortcode, or alphanumeric sender ID.", "more_info":
        "https://www.twilio.com/docs/errors/21212", "status": 400}'
  recorded_at: Wed, 23 May 2018 11:29:05 GMT
recorded_with: VCR 4.0.0
