---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Test+SMS+from+RSpec&From=441348800055&To=%2B447799323232
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMwODYzMzE2OWEwYzVlNjg5YzI2ZTUyMzY3MDcwNmJiNDpmNzFhODU0MWM3MDY0ZmE0N2I3OTM3NTA3NjNlNzFiMg==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.116'
      Twilio-Request-Id:
      - RQ568304fb4da8487e8cc89fa52dc82c56
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM4225c983dae74e3da79fc5c3f15a826b", "date_created": "Wed,
        23 May 2018 11:28:14 +0000", "date_updated": "Wed, 23 May 2018 11:28:14 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT>", "to": "+447799323232",
        "from": "+441348800055", "messaging_service_sid": null, "body": "Test SMS
        from RSpec", "status": "queued", "num_segments": "1", "num_media": "0", "direction":
        "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT>/Messages/SM4225c983dae74e3da79fc5c3f15a826b.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT>/Messages/SM4225c983dae74e3da79fc5c3f15a826b/Media.json"}}'
  recorded_at: Wed, 23 May 2018 11:28:14 GMT
recorded_with: VCR 4.0.0
